In [10]:
import numpy as np
import pandas as pd

# from luwiji.pandas import illustration

In [6]:
from numpy.random import randint

In [8]:
np.random.randint(0,7)

4

# Memuat DataFrame

In [11]:
contoh_data = {'a':[1,2,3],'b':[3,4,5],'c':[5,6,7]}
pd.DataFrame(contoh_data)

   a  b  c
0  1  3  5
1  2  4  6
2  3  5  7

# Membaca data dari file

In [12]:
df = pd.read_csv('data/cereal.csv')

In [15]:
df.head(n=3)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,FDA_25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,FDA_0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,FDA_25,3,1.0,0.33,59.425505

In [16]:
df.tail(3)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3.0,115.0,FDA_25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3.0,110.0,FDA_25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8.0,60.0,FDA_25,1,1.0,0.75,36.187559

In [17]:
df.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

In [18]:
df.index

RangeIndex(start=0, stop=77, step=1)

In [19]:
df.shape

(77, 16)

# Get columns and rows

In [22]:
df.mfr.head()

0    N
1    Q
2    K
3    K
4    R
Name: mfr, dtype: object

In [23]:
df['mfr'].head()

0    N
1    Q
2    K
3    K
4    R
Name: mfr, dtype: object

In [25]:
df[['name','mfr','calories']].head()

                        name mfr  calories
0                  100% Bran   N        70
1          100% Natural Bran   Q       120
2                   All-Bran   K        70
3  All-Bran with Extra Fiber   K        50
4             Almond Delight   R       110

In [26]:
df[['name','mfr','calories']][5:10]

                      name mfr  calories
5  Apple Cinnamon Cheerios   G       110
6              Apple Jacks   K       110
7                  Basic 4   G       130
8                Bran Chex   R        90
9              Bran Flakes   P        90

# Slicing menggunakan .iloc dan .loc

In [27]:
df.loc[1:4, 'type':'fat'] #slice menggunakan nama

  type  calories  protein  fat
1    C       120        3    5
2    C        70        4    1
3    C        50        4    0
4    C       110        2    2

In [29]:
df.iloc[1:4, 3:5] #slice menggunakan index/angka

   calories  protein
1       120        3
2        70        4
3        50        4

# mengganti kolom index

In [30]:
df = pd.read_csv('data/cereal.csv', index_col='name')
df.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,FDA_25,3,1.0,0.33,68.402973
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,FDA_0,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,FDA_25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,FDA_25,3,1.0,0.50,93.704912
Almond Delight,R,C,110,2,2,200,1.0,14.0,8.0,NaN,FDA_25,3,1.0,0.75,34.384843

In [36]:
df.loc['All-Bran':'Bran Flakes', "calories":"shelf"]

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf
name,,,,,,,,,,
All-Bran,70,4,1,260,9.0,7.0,5.0,320.0,FDA_25,3
All-Bran with Extra Fiber,50,4,0,140,14.0,8.0,0.0,330.0,FDA_25,3
Almond Delight,110,2,2,200,1.0,14.0,8.0,NaN,FDA_25,3
Apple Cinnamon Cheerios,110,2,2,180,1.5,10.5,10.0,70.0,FDA_25,1
Apple Jacks,110,2,0,125,1.0,11.0,14.0,30.0,FDA_25,2
Basic 4,130,3,2,210,2.0,18.0,8.0,100.0,FDA_25,3
Bran Chex,90,2,1,200,4.0,15.0,6.0,125.0,FDA_25,1
Bran Flakes,90,3,0,210,5.0,13.0,5.0,190.0,FDA_25,3

# DataFrame Summary

In [37]:
df.iloc[5:10, 3:8]

                         protein  fat  sodium  fiber  carbo
name
Apple Cinnamon Cheerios        2    2     180    1.5   10.5
Apple Jacks                    2    0     125    1.0   11.0
Basic 4                        3    2     210    2.0   18.0
Bran Chex                      2    1     200    4.0   15.0
Bran Flakes                    3    0     210    5.0   13.0

### statistics

In [42]:
# df.corr()
df.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,76.000000,76.000000,75.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.802632,7.026316,98.666667,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,3.907326,4.378656,70.410636,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,5.000000,0.000000,15.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,42.500000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.500000,7.000000,90.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,3.000000,1.500000,1.500000,93.704912

### count

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, 100% Bran to Wheaties Honey Gold
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   mfr       77 non-null     object
 1   type      77 non-null     object
 2   calories  77 non-null     int64
 3   protein   77 non-null     int64
 4   fat       77 non-null     int64
 5   sodium    77 non-null     int64
 6   fiber     77 non-null     float64
 7   carbo     76 non-null     float64
 8   sugars    76 non-null     float64
 9   potass    75 non-null     float64
 10  vitamins  77 non-null     object
 11  shelf     77 non-null     int64
 12  weight    77 non-null     float64
 13  cups      77 non-null     float64
 14  rating    77 non-null     float64
dtypes: float64(7), int64(5), object(3)
memory usage: 11.7+ KB

In [44]:
 df.vitamins.head()

name
100% Bran                    FDA_25
100% Natural Bran             FDA_0
All-Bran                     FDA_25
All-Bran with Extra Fiber    FDA_25
Almond Delight               FDA_25
Name: vitamins, dtype: object

In [45]:
df.mfr.value_counts()

mfr
K    23
G    22
P     9
Q     8
R     8
N     6
A     1
Name: count, dtype: int64

In [47]:
df.mfr.unique()

array(['N', 'Q', 'K', 'R', 'G', 'P', 'A'], dtype=object)

In [48]:
df.type.unique()

array(['C', 'H'], dtype=object)

In [50]:
df.nunique()

mfr          7
type         2
calories    11
protein      6
fat          5
sodium      27
fiber       13
carbo       21
sugars      16
potass      35
vitamins     3
shelf        3
weight       7
cups        12
rating      77
dtype: int64

# Series

In [51]:
df.rating

name
100% Bran                    68.402973
100% Natural Bran            33.983679
All-Bran                     59.425505
All-Bran with Extra Fiber    93.704912
Almond Delight               34.384843
                               ...
Triples                      39.106174
Trix                         27.753301
Wheat Chex                   49.787445
Wheaties                     51.592193
Wheaties Honey Gold          36.187559
Name: rating, Length: 77, dtype: float64

In [52]:
df[['rating']]

                              rating
name
100% Bran                  68.402973
100% Natural Bran          33.983679
All-Bran                   59.425505
All-Bran with Extra Fiber  93.704912
Almond Delight             34.384843
...                              ...
Triples                    39.106174
Trix                       27.753301
Wheat Chex                 49.787445
Wheaties                   51.592193
Wheaties Honey Gold        36.187559

[77 rows x 1 columns]

In [53]:
df.rating.mean()

42.66570498701299

In [54]:
df.rating.median()

40.400208

In [55]:
df.rating.count()

77

# Nan value

In [57]:
df.isna().sum()

mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       1
sugars      1
potass      2
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [59]:
df.dropna().head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,FDA_25,3,1.0,0.33,68.402973
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,FDA_0,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,FDA_25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,FDA_25,3,1.0,0.50,93.704912
Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10.0,70.0,FDA_25,1,1.0,0.75,29.509541

In [61]:
df.fillna('=JCOP=').head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,FDA_25,3,1.0,0.33,68.402973
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,FDA_0,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,FDA_25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,FDA_25,3,1.0,0.50,93.704912
Almond Delight,R,C,110,2,2,200,1.0,14.0,8.0,=JCOP=,FDA_25,3,1.0,0.75,34.384843

In [62]:
filler = {'carbo':'CARBO','sugar':'SUGAR','potass':'POTASS'}
df.fillna(filler).head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6.0,280.0,FDA_25,3,1.0,0.33,68.402973
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.0,FDA_0,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.0,FDA_25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.0,FDA_25,3,1.0,0.50,93.704912
Almond Delight,R,C,110,2,2,200,1.0,14.0,8.0,POTASS,FDA_25,3,1.0,0.75,34.384843

In [64]:
# df.fillna(df.mean()).head()

In [68]:
# df.fillna(df.mean(), inplace=True)

### Save to csv

In [70]:
df.to_csv('data/cereal_imp.csv', index_label='name')